@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.grid_container_footer .grid_links .grid_button_link{
    text-decoration: none;
}
.grid_container_footer .grid_links .grid_button_link .MuiButton-text{
    font-size: 0.55rem;
    color: #d1d1d1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1.1px;
}
.grid_container_footer .grid_links span, .grid_container_footer .grid_social .grid_span span{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.grid_container_footer .grid_links .item_link .link_active .active .MuiButton-text{
    color: red;
    font-weight: bold;
}
.grid_container_footer .grid_social .grid_content .MuiButton-text{
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
}
@media(max-width: 800px){
    .grid_container_footer .grid_links span, .grid_container_footer .grid_social .grid_span span{
        font-size: 0.9rem;
    }
    .grid_container_footer .grid_links .grid_button_link .MuiButton-text{
        font-size: 0.5rem;
    }
    .grid_container_footer .grid_social .grid_content .MuiButton-text{
        font-size: 0.6rem;
    }
}
@media(max-width: 450px){
    .grid_container_footer .grid_links .grid_button_link, .grid_container_footer .grid_social .grid_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .grid_container_footer .grid_social{
        padding-right: 5%;
        text-align: center;
    }
    .grid_container_footer .grid_logo{
        padding-left: 5%;
    }
    .grid_container_footer{
        margin: 5% 0;
    }

}